h1 {
  color: white;
  position: relative;
  margin-right: 25px;
  margin-left: 55px;
  padding: 15px;
  font-family: cursive;
}

.fa-plus-square {
  color: white;
  float: right;
  position: absolute;
  right: 104px;
}

#kids_fa {
  color: white;
  float: right;
  position: absolute;
  right: 59px;
}
.fa-plus-square:hover {
  cursor: pointer;
  opacity: 0.8;
}
.fa:hover {
  cursor: pointer;
  opacity: 0.8;
}

.kids_image-containter {
  height: 500px;
  border: 1px solid white;
  /* margin-left: 30px; */
  margin-right: 50px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px white;
  overflow-y: scroll;
  padding-top: 0;
  margin-top: 50px;
  margin-bottom: 90px;
  position: relative;
}
#kids_category {
  color: white;
  position: sticky;
  top: 0;
  margin-right: 0;
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 0px;
  padding: 15px;
  padding-top: 0;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
}
.movie_name {
  color: white;
  margin-left: 50px;
  font-size: 2vw;
}

.addButton {
  left: 0px;
}
.updateButton {
  left: 100px;
}
.deleteButton {
  left: 200px;
}

.button_class {
  background-color: black;
  color: white;
  height: 35px;
  width: 80px;
  top: 10px;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  margin-right: 15px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  font-family: cursive;
  border: 1px solid rgb(194, 195, 255);
  border-radius: 3px;
  box-shadow: 1px 1px 2px whitesmoke;
}

.button_class:hover {
  cursor: pointer;
  opacity: 0.7;
  color: cornflowerblue;
}

.movie_name:hover {
  cursor: default;
  color: cornflowerblue;
  opacity: 0.5;
}

#go-to-top {
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 60px;
  height: 25px;
  width: 100px;
  padding: 3px 16px;
  background-color: black;
  color: white;
  box-shadow: 0px;
  border-radius: 10px;
  opacity: 0.4;
  font-family: cursive;
}

#go-to-top:hover {
  background-color: yellowgreen;
  color: black;
  opacity: 1;
  font-family: cursive;
}
