.logOutSection {
    position: relative;
    color: white;
    font-family: cursive;
    font-size: 24px;
    top: 170px;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
      url("images/Film-Roll/bluefilmroll2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
  }

.logo {
  height: 7vh;
  width: auto;
}

